<!-- SS - modal pop up for add friends -->
<%- include('../partials/friendsModal.ejs'); -%>

<!-- SS - modal pop up for add friends -->
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col" id="topbar">
            <%- include('../partials/mobileMainHeader.ejs'); -%>
            <%- include('../partials/appNavbar.ejs'); -%>
            <div class="col pageArea">
                <div class="col-lg-3" id="left">
                    <div id="myLists">
                        <button id="createList"> Create New List</button><br>
                        <div class="p-2 listCollapsible" id="myGroceryLists">
                            <label class="inputLabels">My Lists</label>
                           <button id="myLists" class="btn collapsible viewListsbutton"><i class="fas fa-chevron-down">  </i> 
                           </button>
                        </div>
                        <section id="availableLists" class="collapse">
                                
                        </section>
                    </div>
                
                    

                    <div id="friendLists">
                        <div class="p-2 listCollapsible">
                            <label class="inputLabels">Friends' Lists</label>
                            <button class="btn collapsible viewListsbutton"><i class="fas fa-chevron-down"></i></button>
                         </div>
                        <div class="collapse" id="friendsListCollapsibles">
                            
                        </div>
                    </div>
                         
                        <!-- <h3 class="deskTopShoppingListsTitle">Shopping Lists</h3><hr class="deskTopShoppingListsTitle">
                        <div id="myLists">
                            <button id="createList"> Create New List</button><br>
                            <div><button id="myLists" class="btn collapsible">My Lists</button></div>
                            <section class="collapse">
                                    
                            </section>
                        </div>
                        <div id="friendLists">
                            <button id="friendLists" class="btn collapsible">Friends' Lists</button>
                            <div class="collapse" >
                               <div><ul class="collapsible"> Silvana's Lists</ul></div>
                               <section class="collapse">
                                <p class="listElement">List 1</p>
                               </section>
                            </div> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-lg-3" id="right">
                        <div id="rightDesktop">
                            <h3>List Actions</h3><hr><br>
                            <ul id="actionList">
                                <label id="readyToggle">Mark as Ready For Purchase
                                <input onclick="toggleReadyForPurchase()" type="checkbox" data-role="flipswitch" name="flip-checkbox-2" id="flip-checkbox-2" data-on-text="Ready" data-off-text="Not Ready" data-wrapper-class="custom-size-flipswitch"><br>
                                </label>
                                <br>
                                <label id="shoppingToggle">Shopping Mode
                                <input type="checkbox" data-role="flipswitch" name="flip-checkbox-4" id="flip-checkbox-4" checked=""><br>
                                </label>
                                <br>
                                <label id="desktopMerge">Merge List</label>
                            </ul>
                        </div>
                        <div id="friend">
                                                            
                        </div>
                    </div>
                    <div class="col-lg-3" id="aboutUsPage">
                        <div id="aboutUsParagraph">
                            <p>
                                We at Groupceries are committed to applying our software development skills to improve the lives of those in our communities.
                                As a team, we value innovation, community and growth. We want to make it easier for people to help their friends and families get groceries.
                                With this application, we hope that we have.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 card-group" id="groupMemberContainerLoggedIn">
                                <div class="container groupMemberCard">
                                    <div class="card flex-row flex-wrap">
                                        <img class="card-img-top groupMemberPhoto" src="/images/shrekRonald.png" alt="Ronald Liang photo">
                                        <div class="card-block px-2">
                                            <h4 class="card-title">Ronald Liang</h4>
                                            <p class="card-text">Loves Shrek... a lot.</p>
                                        </div>
                                        <div class="w-100"></div>
                                    </div>
                                </div>
                                <div class="container groupMemberCard">
                                    <div class="card flex-row flex-wrap">
                                        <img class="card-img-top groupMemberPhoto" src="/images/shrekvana.png" alt="Silvana Kalliny Photo">
                                        <div class="card-block px-2">
                                            <h4 class="card-title">Silvana Kalliny</h4>
                                            <p class="card-text">Front-end developer.</p>
                                        </div>
                                        <div class="w-100"></div>
                                    </div>
                                </div>
                                <div class="container groupMemberCard">
                                    <div class="card flex-row flex-wrap">
                                        <img class="card-img-top groupMemberPhoto" src="/images/shrekgun.png" alt="Shagon Photo">
                                        <div class="card-block px-2">
                                            <h4 class="card-title">Shagun</h4>
                                            <p class="card-text">Back-end developer.</p>
                                        </div>
                                        <div class="w-100"></div>
                                    </div>
                                </div>
                                <div class="container groupMemberCard">
                                    <div class="card flex-row flex-wrap">
                                        <img class="card-img-top groupMemberPhoto" src="/images/blueshrek.jpg" alt="Eric Dong Photo">
                                        <div class="card-block px-2">
                                            <h4 class="card-title">Eric Dong</h4>
                                            <p class="card-text">Front-end developer.</p>
                                        </div>
                                        <div class="w-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="middle">
                        <div id="listArea" class="itemsArea">
                            <div class="groceryList">
                                <div id="buttons">
                                        <div class="d-flex addListBox">
                                            <div class="mr-auto p-2" id="listTitleSection"><p id="listTitle">My List</p></div>
                                            <div class="p-2 ml-auto rightMostButton"><button id="newItem" type="button" class="addToListButton">Add</button><button type="button" id="deleteEntireListButton" class="deleteEntireListButton">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <details open id="myList" class="viewButton" text="View Grocery List">
                                    <summary class="viewListsbutton">View Grocery List</summary>
                                    <div id="groceryList" class="itemsArea">
                                    </div>
                                </details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row fixed-bottom" id="buttonFooter">
    <%- include('../partials/mergePageButtons.ejs'); -%>
    <%- include('../partials/friendsPageButtons.ejs'); -%>
    <%- include('../partials/mobileMainButtons.ejs'); -%>
    <%- include('../partials/mobileNavBar.ejs'); -%>
</div>

<script src="/js/lodash.js"></script>
<script src="/js/firebaseInit.js"></script>
<script src="/js/mainPageResponsiveness.js"></script>
<script src="/js/mainPage.js"></script>
<script src="/js/database.js"></script>
<!-- the sidebar is to be included as well. -->
